definitions:
  pagination.PagePack:
    properties:
      page:
        type: integer
      page_size:
        type: integer
      total_pages:
        type: integer
      total_rows:
        type: integer
    type: object
  resedist_internal_modules_department_department_responses.NoContentResponse:
    properties:
      _error_code:
        example: ""
        type: string
      _message:
        example: "null"
        type: string
      _status:
        example: success
        type: string
    type: object
  resedist_internal_modules_department_department_type_responses.NoContentResponse:
    properties:
      _error_code:
        example: ""
        type: string
      _message:
        example: "null"
        type: string
      _status:
        example: success
        type: string
    type: object
  responses.DepType:
    properties:
      id:
        type: integer
      is_active:
        type: boolean
      title:
        type: string
    type: object
  responses.DepTypeResponse:
    properties:
      _error_code:
        example: ""
        type: string
      _message:
        example: "null"
        type: string
      _status:
        example: success
        type: string
      data:
        $ref: '#/definitions/responses.DepType'
    type: object
  responses.DepTypesResponse:
    properties:
      _error_code:
        example: ""
        type: string
      _message:
        example: "null"
        type: string
      _status:
        example: success
        type: string
      data:
        items:
          $ref: '#/definitions/responses.DepType'
        type: array
      pagination:
        $ref: '#/definitions/pagination.PagePack'
    type: object
  responses.Department:
    properties:
      departmentType: {}
      id:
        type: integer
      label:
        type: string
      parent: {}
      title:
        type: string
    type: object
  responses.DepartmentResponse:
    properties:
      _error_code:
        example: ""
        type: string
      _message:
        example: "null"
        type: string
      _status:
        example: success
        type: string
      data:
        $ref: '#/definitions/responses.Department'
    type: object
  responses.DepartmentsResponse:
    properties:
      _error_code:
        example: ""
        type: string
      _message:
        example: "null"
        type: string
      _status:
        example: success
        type: string
      data:
        items:
          $ref: '#/definitions/responses.Department'
        type: array
      pagination:
        $ref: '#/definitions/pagination.PagePack'
    type: object
  responses.RoomTemplate:
    properties:
      created_at:
        type: string
      creator:
        $ref: '#/definitions/responses.User'
      entry_fee:
        type: number
      game_style:
        type: string
      id:
        type: integer
      is_active:
        type: boolean
      is_public:
        type: boolean
      is_system:
        type: boolean
      max_players:
        type: integer
      min_players:
        type: integer
      timeout:
        type: integer
      title:
        type: string
      updated_at:
        type: string
    type: object
  responses.User:
    properties:
      email:
        type: string
      id:
        type: integer
      image:
        type: string
      name:
        type: string
    type: object
info:
  contact: {}
paths:
  /api/v1/auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return a JWT token
      parameters:
      - in: query
        maxLength: 100
        minLength: 3
        name: email
        required: true
        type: string
      - in: query
        maxLength: 100
        minLength: 8
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Token
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Login and get JWT token
      tags:
      - auth
  /api/v1/auth/refresh:
    post:
      consumes:
      - application/json
      description: Refresh an access token using a refresh token
      parameters:
      - in: query
        name: client_id
        type: string
      - in: query
        name: grant_type
        type: string
      - in: query
        name: refresh_token
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Token
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Refresh access token
      tags:
      - auth
  /api/v1/daberton/roomtemplate:
    post:
      consumes:
      - application/json
      description: Returns room template json (requires JWT)
      operationId: create-room-template
      parameters:
      - in: query
        minimum: 0
        name: entry_fee
        required: true
        type: number
      - enum:
        - tombola
        - Bingo
        - 90-ball
        - azerbaijan
        - russia
        - iran
        - iraq
        - classic
        - modern
        - daberton
        in: query
        name: game_style
        required: true
        type: string
      - in: query
        name: is_public
        required: true
        type: boolean
      - in: query
        name: max_players
        required: true
        type: integer
      - in: query
        minimum: 2
        name: min_players
        required: true
        type: integer
      - in: query
        name: timeout
        required: true
        type: integer
      - in: query
        name: title
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.RoomTemplate'
      security:
      - BearerAuth: []
      summary: Create room template
      tags:
      - roomTemplate
  /api/v1/department-type/:
    get:
      consumes:
      - application/json
      description: Returns a list of Deaprtment types
      parameters:
      - in: query
        name: depType
        type: string
      - in: query
        name: expand
        type: boolean
      - in: query
        name: is_active
        type: boolean
      - in: query
        name: order
        type: string
      - in: query
        name: page
        type: integer
      - in: query
        name: page_size
        type: integer
      - in: query
        name: sort
        type: string
      - in: query
        name: title
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepTypesResponse'
      security:
      - BearerAuth: []
      summary: Get Department types
      tags:
      - depType
    post:
      consumes:
      - application/json
      description: Returns a Department type (requires JWT)
      parameters:
      - in: query
        name: is_active
        type: boolean
      - in: query
        maxLength: 100
        minLength: 3
        name: title
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepTypeResponse'
      security:
      - BearerAuth: []
      summary: create Department type
      tags:
      - depType
  /api/v1/department-type/{id}:
    delete:
      consumes:
      - application/json
      description: Returns No content (requires JWT)
      parameters:
      - in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204":
          description: Response object
          schema:
            $ref: '#/definitions/resedist_internal_modules_department_department_type_responses.NoContentResponse'
      security:
      - BearerAuth: []
      summary: Delete Department type
      tags:
      - depType
    get:
      consumes:
      - application/json
      description: Returns a Deaprtment type
      parameters:
      - in: path
        name: id
        required: true
        type: integer
      - in: query
        name: expand
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepTypeResponse'
      security:
      - BearerAuth: []
      summary: Get Department type
      tags:
      - depType
    put:
      consumes:
      - application/json
      description: Returns a Department type (requires JWT)
      parameters:
      - in: path
        name: id
        required: true
        type: integer
      - in: query
        name: is_active
        type: boolean
      - in: query
        maxLength: 100
        minLength: 3
        name: title
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepTypeResponse'
      security:
      - BearerAuth: []
      summary: Update Department
      tags:
      - depType
  /api/v1/department/:
    get:
      consumes:
      - application/json
      description: Returns a list of Deaprtment
      parameters:
      - in: query
        name: depType
        type: string
      - in: query
        name: department
        type: string
      - in: query
        name: departmenttypeid
        type: integer
      - in: query
        name: expand
        type: boolean
      - in: query
        name: order
        type: string
      - in: query
        name: page
        type: integer
      - in: query
        name: page_size
        type: integer
      - in: query
        name: parent
        type: string
      - in: query
        name: parentid
        type: integer
      - in: query
        name: sort
        type: string
      - in: query
        name: title
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepartmentsResponse'
      security:
      - BearerAuth: []
      summary: Get Departments
      tags:
      - department
    post:
      consumes:
      - application/json
      description: Returns a Department (requires JWT)
      parameters:
      - in: query
        name: departmenttypeid
        required: true
        type: integer
      - in: query
        name: parentid
        required: true
        type: integer
      - in: query
        maxLength: 100
        minLength: 3
        name: title
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepartmentResponse'
      security:
      - BearerAuth: []
      summary: Create Department
      tags:
      - department
  /api/v1/department/{id}:
    delete:
      consumes:
      - application/json
      description: Returns No content (requires JWT)
      parameters:
      - in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204":
          description: Response object
          schema:
            $ref: '#/definitions/resedist_internal_modules_department_department_responses.NoContentResponse'
      security:
      - BearerAuth: []
      summary: Delete Department
      tags:
      - department
    get:
      consumes:
      - application/json
      description: Returns a Deaprtment
      parameters:
      - in: path
        name: id
        required: true
        type: integer
      - in: query
        name: expand
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepartmentResponse'
      security:
      - BearerAuth: []
      summary: Get Department
      tags:
      - department
    put:
      consumes:
      - application/json
      description: Returns a Department (requires JWT)
      parameters:
      - in: path
        name: id
        required: true
        type: integer
      - in: query
        name: departmenttypeid
        required: true
        type: integer
      - in: query
        name: parentid
        required: true
        type: integer
      - in: query
        maxLength: 100
        minLength: 3
        name: title
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Response object
          schema:
            $ref: '#/definitions/responses.DepartmentResponse'
      security:
      - BearerAuth: []
      summary: Update Department
      tags:
      - department
  /api/v1/sso/auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return a JWT token
      parameters:
      - in: query
        maxLength: 100
        minLength: 3
        name: email
        required: true
        type: string
      - in: query
        maxLength: 100
        minLength: 8
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Token
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Login and get JWT token
      tags:
      - SSO
  /api/v1/sso/auth/refresh:
    post:
      consumes:
      - application/json
      description: Refresh an access token using a refresh token
      parameters:
      - in: query
        name: client_id
        type: string
      - in: query
        name: grant_type
        type: string
      - in: query
        name: refresh_token
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Token
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Refresh access token
      tags:
      - SSO
  /api/v1/tgminiapp/auth:
    get:
      consumes:
      - application/json
      description: Returns a JWT token for authenticated user
      operationId: tg-miniapp-auth
      parameters:
      - description: Tg miniapp auth data
        in: query
        name: tg_miniapp_auth
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Token
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Tg miniapp auth
      tags:
      - tgminiapp
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
